<!doctype html>
<html>
    @@include('../includes/global/head.html', {
        "page_title": "Home"
    })
    <body class="home">
        <main
        class="main_content"
        id="main_content">
            <article class="page_content">
                <div class="introduction_and_image">
                    <div class="introduction_and_image__introduction">
                        <p>Hi, I'm Tristan McDonald.</p>
                        <p>I design to answer the question, "what does this need to do, and how best can it do that?"</p>
                        <p>I write code to answer the question, "what will I be glad of when I come back to this codebase in five years' time?"</p>
                    </div><!-- .introduction_and_image__introduction -->
                    <figure class="introduction_and_image__image_figure">
                        <img
                        class="introduction_and_image__image"
                        alt="An image of tristan McDonald on a beach in Puglia, Italy"
                        src="@@baseurl/assets/images/me-beach-italy.jpg">
                    </figure><!-- .introduction_and_image__image -->
                </div><!-- .introduction_and_image -->
                <div class="further_information_and_contact">
                    <p>My main contribution to open-source is my CSS framework for designing and building maintainable frontends, <a href="https://github.com/trubblebruin/tenet">Tenet</a>.</p>
                    <p>I've been busy in my role as <span class="job_title">Principal of Frontend Engineering &amp; Design</span> at <a href="http://omni-digital.co.uk">Omni Digital</a>.</p>
                    <div class="action_anchor_container">
                        <a
                        class="action_anchor action_anchor--primary_action"
                        href="mailto:hi@tristanmcdonald.co.uk"><span class="action_anchor__text action_anchor__text--forwards_action">Say hi</span></a>
                    </div><!-- .action_anchor_container -->
                </div><!-- .further_information_and_contact -->
            </article><!-- .page_content -->
        </main><!-- .main_content #main_content -->
    </body><!-- .home -->
</html>
